<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SVM-SMOTE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Vendor CSS Files -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <!-- Template Main CSS File -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/stylesResult.css') }}"
  />
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1 ><a href="/">SVM-SMOTE</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a class="active" href="/tabel_svm">Tabel SVM</a></li>
          <li><a href="/tabel_svm_smote">Tabel SVM+SMOTE</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <main id="main">
    <!-- ======= Section ======= -->
    <section id="section" class="section">
      <div class="section-hero">
        <div class="container">
          <div class="section-hero">
            <h2 style="font-weight: bold;">DASHBOARD</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Hasil Analisis ======= -->
    <section id="analisis" class="analisis ">
      <div class="container">
        <div class="row justify-content-center"> 
          <div class="col-md-4">
            <div class="icon-box">
              <h5 class="text-center">INFORMASI DATASET</h5>
              <p class="text-center" style="font-size:30px; font-weight: bold;"> {{jumlah_data}}</p>
              <p class="description" style="font-size:15px; font-weight: bold;">Detail </p>
              <p class="description">Positif : {{positive_count}} </p>
              <p class="description">Negatif : {{negative_count}} </p> 
            </div>
          </div>
        </div>
        <div class="row mt-2 row justify-content-around">
          <div class="col-md-4">
            <div class="icon-box">
              <h5 class="text-center">Akurasi SVM</h5>
              <p class="text-center" style="font-size:30px; font-weight: bold;"> {{acc_svm }}% </p>
              <p class="description" style="font-size:15px">Waktu Komputasi: {{waktu_komputasi_SVM}} detik</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="icon-box">
              <h5 class="text-center">Akurasi SVM+SMOTE</h5>
              <p class="text-center" style="font-size:30px; font-weight: bold;"> {{acc_svm_smote }}% </p>
              <p class="description" style="font-size:15px">Waktu Komputasi: {{waktu_komputasi_SVM_SMOTE}} detik</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section><!-- End  Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Helmi Farizki</span>
      </div>
      <div class="credits">
        Jurusan Teknik Informatika 2023
      </div>
    </div>
  </footer><!-- End Footer -->
</body>
</html>