<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SVM-SMOTE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Vendor CSS Files -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <!-- Template Main CSS File -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/stylesResult.css') }}"
  />
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1 ><a href="/">SVM-SMOTE</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a class="active" href="/tabel_svm">Tabel SVM</a></li>
          <li><a href="/tabel_svm_smote">Tabel SVM+SMOTE</a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <main id="main">
    <!-- ======= Section ======= -->
    <section id="section" class="section">
      <div class="section-hero">
        <div class="container">
          <div class="section-hero">
            <h2>Hasil Analisis</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- ======= Hasil Analisis ======= -->
    <section id="analisis" class="analisis ">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="icon-box" >
              <h4 class="title text-center"><a href="">SVM</a></h4>
              <p class="description">Hasil Akurasi : {{ acc_svm * 100}} % </p>
              <p class="description">Hasil Precision : {{precision_svm * 100}} % </p>
              <p class="description">Hasil Recall : {{recall_svm * 100}} % </p>
              <p class="description">Hasil f1-score : {{f1_svm * 100}}% </p>  
              <p class="description">Waktu Komputasi : {{waktu_komputasi_SVM}} detik</p>   
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <h4 class="title text-center"><a href="">SVM + SMOTE</a></h4>
              <p class="description">Hasil Akurasi : {{ acc_svm_smote * 100}} %</p>
              <p class="description">Hasil Precision : {{precision_svm_smote * 100}} %</p>
              <p class="description">Hasil Recall : {{recall_svm_smote * 100}} % </p>
              <p class="description">Hasil f1-score : {{f1_svm_smote * 100}} % </p>
              <p class="description">Waktu Komputasi : {{waktu_komputasi_SVM_SMOTE}} detik </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section><!-- End  Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Helmi Farizki</span>
      </div>
      <div class="credits">
        Jurusan Teknik Informatika 2023
      </div>
    </div>
  </footer><!-- End Footer -->
</body>
</html>