<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SVM-SMOTE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Vendor CSS Files -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous"
  />
  <!-- Template Main CSS File -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/stylesResult.css') }}"
  />
</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1 ><a href="/">SVM-SMOTE</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a class="active" href="/tabel_svm">Tabel SVM</a></li>
          <li><a href="/tabel_svm_smote">Tabel SVM+SMOTE</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main">
    <!-- ======= Section ======= -->
    <section id="section" class="section">
      <div class="section-hero">
        <div class="container">
          <div class="section-hero">
            <h2>Tabel Hasil Klasifikasi SVM+SMOTE</h2>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">       
            <div class="table table-responsive">
              <table class="thead-dark">
                <thead>
                  <tr>
                    <th>Tweet</th>
                    <th>Predict</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in data.to_dict(orient='records') %}
                  <tr>
                    <td>{{ row['Text'] }}</td>
                    <td>{{ row['SVM_SMOTE'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>     
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                {% if page_number > 1 %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_number - 1 }}">Previous</a>
                  </li>
                {% endif %}
                
                {% if page_number > 3 %}
                  <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                  </li>
                  <li class="page-item disabled">
                    <a class="page-link">...</a>
                  </li>
                {% endif %}
                
                {% for page in range(1, num_pages + 1) %}
                {% if page >= (page_number - 2) and page <= (page_number + 2) %}
                  <li class="page-item {% if page == page_number %} active {% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              
                
                {% if page_number < num_pages - 2 %}
                  <li class="page-item disabled">
                    <a class="page-link">...</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="?page={{ num_pages }}">{{ num_pages }}</a>
                  </li>
                {% endif %}
                
                {% if page_number < num_pages %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_number + 1 }}">Next</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>    
        </div>
      </div>
    </section>
  </main>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Helmi Farizki</span>
      </div>
      <div class="credits">
        Jurusan Teknik Informatika 2023
      </div>
    </div>
  </footer>
</body>
</html>